* text=auto !eol
action/skl_exporter_pdf.php -text
images/pdf-128.png -text
images/pdf-24.png -text
inc/generer_pdf.php -text
lib/dompdf/VERSION -text
lib/dompdf/autoload.inc.php -text
lib/dompdf/lib/Cpdf.php -text
lib/dompdf/lib/fonts/DejaVuSans-Bold.ttf -text
lib/dompdf/lib/fonts/DejaVuSans-BoldOblique.ttf -text
lib/dompdf/lib/fonts/DejaVuSans-Oblique.ttf -text
lib/dompdf/lib/fonts/DejaVuSans.ttf -text
lib/dompdf/lib/fonts/DejaVuSansMono-Bold.ttf -text
lib/dompdf/lib/fonts/DejaVuSansMono-BoldOblique.ttf -text
lib/dompdf/lib/fonts/DejaVuSansMono-Oblique.ttf -text
lib/dompdf/lib/fonts/DejaVuSansMono.ttf -text
lib/dompdf/lib/fonts/DejaVuSerif-Bold.ttf -text
lib/dompdf/lib/fonts/DejaVuSerif-BoldItalic.ttf -text
lib/dompdf/lib/fonts/DejaVuSerif-Italic.ttf -text
lib/dompdf/lib/fonts/DejaVuSerif.ttf -text
lib/dompdf/lib/php-font-lib.tar.gz -text svneol=unset#unset
lib/dompdf/lib/php-font-lib/.htaccess -text
lib/dompdf/lib/php-font-lib/LICENSE -text
lib/dompdf/lib/php-font-lib/README.md -text
lib/dompdf/lib/php-font-lib/bower.json -text
lib/dompdf/lib/php-font-lib/composer.json -text
lib/dompdf/lib/php-font-lib/index.php -text
lib/dompdf/lib/php-font-lib/maps/adobe-standard-encoding.map -text
lib/dompdf/lib/php-font-lib/maps/cp1250.map -text
lib/dompdf/lib/php-font-lib/maps/cp1251.map -text
lib/dompdf/lib/php-font-lib/maps/cp1252.map -text
lib/dompdf/lib/php-font-lib/maps/cp1253.map -text
lib/dompdf/lib/php-font-lib/maps/cp1254.map -text
lib/dompdf/lib/php-font-lib/maps/cp1255.map -text
lib/dompdf/lib/php-font-lib/maps/cp1257.map -text
lib/dompdf/lib/php-font-lib/maps/cp1258.map -text
lib/dompdf/lib/php-font-lib/maps/cp874.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-1.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-11.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-15.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-16.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-2.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-4.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-5.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-7.map -text
lib/dompdf/lib/php-font-lib/maps/iso-8859-9.map -text
lib/dompdf/lib/php-font-lib/maps/koi8-r.map -text
lib/dompdf/lib/php-font-lib/maps/koi8-u.map -text
lib/dompdf/lib/php-font-lib/src/FontLib/AdobeFontMetrics.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Autoloader.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/BinaryStream.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/EOT/File.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/EOT/Header.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/EncodingMap.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Font.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Glyph/Outline.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Glyph/OutlineComponent.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Glyph/OutlineComposite.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Glyph/OutlineSimple.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Header.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/OpenType/File.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/OpenType/TableDirectoryEntry.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/DirectoryEntry.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Table.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/cmap.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/glyf.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/head.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/hhea.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/hmtx.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/kern.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/loca.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/maxp.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/name.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/nameRecord.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/os2.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/Table/Type/post.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/TrueType/Collection.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/TrueType/File.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/TrueType/Header.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/TrueType/TableDirectoryEntry.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/WOFF/File.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/WOFF/Header.php -text
lib/dompdf/lib/php-font-lib/src/FontLib/WOFF/TableDirectoryEntry.php -text
lib/dompdf/lib/php-svg-lib.tar.gz -text svneol=unset#unset
lib/dompdf/lib/php-svg-lib/.travis.yml -text
lib/dompdf/lib/php-svg-lib/README.md -text
lib/dompdf/lib/php-svg-lib/composer.json -text
lib/dompdf/lib/php-svg-lib/phpunit.xml -text
lib/dompdf/lib/php-svg-lib/src/Svg/DefaultStyle.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Document.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Style.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Surface/CPdf.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfaceCpdf.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfaceGmagick.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfaceInterface.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Surface/SurfacePDFLib.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/AbstractTag.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Anchor.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Circle.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Ellipse.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Group.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Image.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Line.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/LinearGradient.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Path.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Polygon.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Polyline.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/RadialGradient.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Rect.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Shape.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Stop.php -text
lib/dompdf/lib/php-svg-lib/src/Svg/Tag/Text.php -text
lib/dompdf/lib/php-svg-lib/src/autoload.php -text
lib/dompdf/lib/php-svg-lib/tests/Svg/StyleTest.php -text
lib/dompdf/lib/res/broken_image.png -text
lib/dompdf/lib/z -text svneol=unset#unset
lib/dompdf/phpcs.xml -text
lib/dompdf/src/Adapter/CPDF.php -text
lib/dompdf/src/Adapter/GD.php -text
lib/dompdf/src/Adapter/PDFLib.php -text
lib/dompdf/src/Autoloader.php -text
lib/dompdf/src/Canvas.php -text
lib/dompdf/src/CanvasFactory.php -text
lib/dompdf/src/Cellmap.php -text
lib/dompdf/src/Css/AttributeTranslator.php -text
lib/dompdf/src/Css/Color.php -text
lib/dompdf/src/Css/Style.php -text
lib/dompdf/src/Css/Stylesheet.php -text
lib/dompdf/src/Dompdf.php -text
lib/dompdf/src/Exception.php -text
lib/dompdf/src/Exception/ImageException.php -text
lib/dompdf/src/FontMetrics.php -text
lib/dompdf/src/Frame.php -text
lib/dompdf/src/Frame/Factory.php -text
lib/dompdf/src/Frame/FrameList.php -text
lib/dompdf/src/Frame/FrameListIterator.php -text
lib/dompdf/src/Frame/FrameTree.php -text
lib/dompdf/src/Frame/FrameTreeIterator.php -text
lib/dompdf/src/Frame/FrameTreeList.php -text
lib/dompdf/src/FrameDecorator/AbstractFrameDecorator.php -text
lib/dompdf/src/FrameDecorator/Block.php -text
lib/dompdf/src/FrameDecorator/Image.php -text
lib/dompdf/src/FrameDecorator/Inline.php -text
lib/dompdf/src/FrameDecorator/ListBullet.php -text
lib/dompdf/src/FrameDecorator/ListBulletImage.php -text
lib/dompdf/src/FrameDecorator/NullFrameDecorator.php -text
lib/dompdf/src/FrameDecorator/Page.php -text
lib/dompdf/src/FrameDecorator/Table.php -text
lib/dompdf/src/FrameDecorator/TableCell.php -text
lib/dompdf/src/FrameDecorator/TableRow.php -text
lib/dompdf/src/FrameDecorator/TableRowGroup.php -text
lib/dompdf/src/FrameDecorator/Text.php -text
lib/dompdf/src/FrameReflower/AbstractFrameReflower.php -text
lib/dompdf/src/FrameReflower/Block.php -text
lib/dompdf/src/FrameReflower/Image.php -text
lib/dompdf/src/FrameReflower/Inline.php -text
lib/dompdf/src/FrameReflower/ListBullet.php -text
lib/dompdf/src/FrameReflower/NullFrameReflower.php -text
lib/dompdf/src/FrameReflower/Page.php -text
lib/dompdf/src/FrameReflower/Table.php -text
lib/dompdf/src/FrameReflower/TableCell.php -text
lib/dompdf/src/FrameReflower/TableRow.php -text
lib/dompdf/src/FrameReflower/TableRowGroup.php -text
lib/dompdf/src/FrameReflower/Text.php -text
lib/dompdf/src/Helpers.php -text
lib/dompdf/src/Image/Cache.php -text
lib/dompdf/src/JavascriptEmbedder.php -text
lib/dompdf/src/LineBox.php -text
lib/dompdf/src/Options.php -text
lib/dompdf/src/PhpEvaluator.php -text
lib/dompdf/src/Positioner/Absolute.php -text
lib/dompdf/src/Positioner/AbstractPositioner.php -text
lib/dompdf/src/Positioner/Block.php -text
lib/dompdf/src/Positioner/Fixed.php -text
lib/dompdf/src/Positioner/Inline.php -text
lib/dompdf/src/Positioner/ListBullet.php -text
lib/dompdf/src/Positioner/NullPositioner.php -text
lib/dompdf/src/Positioner/TableCell.php -text
lib/dompdf/src/Positioner/TableRow.php -text
lib/dompdf/src/Renderer.php -text
lib/dompdf/src/Renderer/AbstractRenderer.php -text
lib/dompdf/src/Renderer/Block.php -text
lib/dompdf/src/Renderer/Image.php -text
lib/dompdf/src/Renderer/Inline.php -text
lib/dompdf/src/Renderer/ListBullet.php -text
lib/dompdf/src/Renderer/TableCell.php -text
lib/dompdf/src/Renderer/TableRowGroup.php -text
lib/dompdf/src/Renderer/Text.php -text
prive/themes/spip/images/dompdf-128.png -text
prive/themes/spip/images/dompdf-32.png -text
prive/themes/spip/images/dompdf-64.png -text
